.myDiv
{
    background-color: #343A40;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        text-align: center;
        color: white;
        font-size: 0.8rem;
        margin: 0;
    }
}
